src/com/agc/webservice/soap/producerapi/schema/ChargeInfoDTO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.agc.com/ChargeInfoDTO" 
		xmlns:tns="http://www.agc.com/ChargeInfoDTO" 
		elementFormDefault="qualified">
		
		<complexType name="ChargeInfoDTO">
    		<sequence>
    			<element name="ChargePattern" type="string" />
    			<element name="Amount" type="decimal" />
    		</sequence>
    	</complexType>

</schema>