src/com/agc/webservice/soap/producerapi/schema/ChargePatternRateDTO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.agc.com/ChargePatternRateDTO" 
		xmlns:tns="http://www.agc.com/ChargePatternRateDTO" 
		elementFormDefault="qualified">
		
		<complexType name="ChargePatternRateDTO">
    		<sequence>
    			<element name="ChargePattern" type="string" />
    			<element name="Rate" type="decimal" />
    		</sequence>
    	</complexType>

</schema>