src/com/agc/webservice/soap/producerapi/schema/PolicyCommissionDTO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.agc.com/PolicyCommissionDTO" 
		xmlns:tns="http://www.agc.com/PolicyCommissionDTO" 
		elementFormDefault="qualified">
		
		<complexType name="PolicyCommissionDTO">
    		<sequence>
    			<element name="ProducerCodePublicID" type="string" />
    			<element name="ProducerRolePositionInHierarchy" type="int" />
    			<element name="CommissionRate" type="decimal" />
    			<element name="CommissionAmount" type="decimal" />
    		</sequence>
    	</complexType>

</schema>