src/com/agc/webservice/soap/producerapi/schema/ProducerCodeDTO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.agc.com/ProducerCodeDTO" 
		xmlns:tns="http://www.agc.com/ProducerCodeDTO" 
		elementFormDefault="qualified">
		
		<complexType name="ProducerCodeDTO">
    		<sequence>
    			<element name="PublicID" type="string" />
    			<element name="Code" type="string" />
    			<element name="ProducerPublicId" type="string" />
    			<element name="ParentProducerCodePublicId" type="string" minOccurs="0" />
    			<element name="CommissionRate" type="decimal" />
    		</sequence>
    	</complexType>

</schema>