src/com/agc/webservice/soap/producerapi/wsdl/ProducerAPI.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
				  xmlns:tns="http://www.agc.com/ProducerAPI/" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  xmlns:prod="http://www.agc.com/ProducerDTO"
				  name="ProducerAPI" 
				  targetNamespace="http://www.agc.com/ProducerAPI/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.agc.com/ProducerAPI/">
    <xsd:import namespace="http://www.agc.com/ProducerDTO" schemaLocation="../schema/ProducerDTO.xsd"/>
    
    	
    	<xsd:element name="getProducer">
    		<xsd:complexType>
          		<xsd:sequence>
            		<xsd:element name="producerPublicID" type="xsd:string"/>
          		</xsd:sequence>
        	</xsd:complexType>
    	</xsd:element>
    	
    	<xsd:element name="getProducerResponse">
    		<xsd:complexType>
          		<xsd:sequence>
            		<xsd:element name="producer" type="prod:ProducerDTO"/>
          		</xsd:sequence>
        	</xsd:complexType>
    	</xsd:element>
    
    	<xsd:element name="createProducer">
    		<xsd:complexType>
          		<xsd:sequence>
            		<xsd:element name="producer" type="prod:ProducerDTO"/>
          		</xsd:sequence>
        	</xsd:complexType>
    	</xsd:element>
    	
    	<xsd:element name="createProducerResponse">
    		<xsd:complexType>
          		<xsd:sequence>
            		<xsd:element name="result" type="xsd:boolean"/>
          		</xsd:sequence>
        	</xsd:complexType>
    	</xsd:element>
    	
    </xsd:schema>
    
  </wsdl:types>
  
  <wsdl:message name="getProducer">
    <wsdl:part element="tns:getProducer" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="getProducerResponse">
    <wsdl:part element="tns:getProducerResponse" name="parameters"/>
  </wsdl:message>
  
   <wsdl:message name="createProducer">
    <wsdl:part element="tns:createProducer" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="createProducerResponse">
    <wsdl:part element="tns:createProducerResponse" name="parameters"/>
  </wsdl:message> 

  <wsdl:portType name="ProducerAPI">
  
    <wsdl:operation name="getProducer">
      <wsdl:input message="tns:getProducer"/>
      <wsdl:output message="tns:getProducerResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="createProducer">
      <wsdl:input message="tns:createProducer"/>
      <wsdl:output message="tns:createProducerResponse"/>
    </wsdl:operation>
    
  </wsdl:portType>
  
  
  <wsdl:binding name="ProducerAPIBinding" type="tns:ProducerAPI">
  
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="getProducer">
      <soap:operation soapAction="http://www.agc.com/ProducerAPI/getProducer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="createProducer">
      <soap:operation soapAction="http://www.agc.com/ProducerAPI/createProducer"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
  </wsdl:binding>
  
</wsdl:definitions>
